/* Importa o Pywal caso queira usar variáveis, mas abaixo fixei os tons exatos da foto */
@import url("file:///home/ninhux/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-size: 12px;
}

window#waybar {
    background-color: #1e1d1a; /* Tom marrom escuro/oliva do fundo da barra dela */
    color: #8c7662;            /* Tom sépia/marrom claro do texto apagado */
}

/* Espaçamento e cor das tags/workspaces na esquerda */
#workspaces button {
    padding: 0 8px;
    color: #5c4d40; /* Números inativos bem discretos */
    background-color: transparent;
}

#workspaces button.active {
    color: #bfa58a; /* Número ativo destacado */
}

#workspaces button.urgent {
    color: #cc6666;
}

/* Nome da janela ativa na esquerda */
#window {
    color: #a68d74;
}

/* Módulos da direita */
#custom-rec,
#temperature,
#memory,
#backlight,
#custom-media,
#custom-weather,
#clock {
    padding: 0;
    color: #a68d74; /* Cor texturizada para todos os status */
    background-color: transparent;
}

/* Destaque sutil para o relógio na ponta direita */
#clock {
    color: #bfa58a;
    padding-right: 5px;
}
